#colorsitos{
  width: 250px;
  height: 144px;
  display:block;
  font-size: 14px;
  display: block;
  font-family: 'Poppins', sans-serif;
}
.amarillo{
  background: yellow;
  padding-bottom: 25px;
  padding-right: : 100px;
  padding-left: 3.5px;
  padding-top: 4px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.rosa{
  background: #FF0080;
  padding-bottom: 25px;
  padding-right: : 100px;
  padding-left: 3.5px;
  padding-top: 4px;
  margin-top: 20px;
  margin-bottom: 20px;
}
