#colorsitos{
  width: 350px;
  height: 144px;
  display:block;
  font-size: 20px;
  background: #000;
}
.amarillo{
  background: yellow;
  padding-bottom: 25px;
  padding-right: : 100px;
  padding-left: 3.5px;
  padding-top: 4px;
}
.rosa{
  background: #FF0080;
  padding-bottom: 25px;
  padding-right: : 100px;
  padding-left: 3.5px;
  padding-top: 4px;
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 1px;
  margin-bottom: 1px;
}
