#colorsitos{
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
}
.amarillo{
  display: inline-block;
  background: yellow;
  padding-right: 20px;
  padding-left: 5px;
  width: 120px;
  height: 50px;
}
.rosa{
  display: inline-block;
  background: #FF0080;
  padding-right: 30px;
  padding-left: 5px;
  width: 120px;
  height: 50px;
}
